.mobile-user__link{
  color: #A9A9A9;
  font-size: 18px;
  line-height: 1.22;
  padding: 0;
  margin: 0 0 40px 0;  
  cursor: pointer;
  transition: color .3s ease-out;
  text-decoration: none;
}

.mobile-user__link:hover{
  color: #757575;
}