.element__like{
  border: none;
  background-image: url('../../../images/element-like.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 21px;
  height: 19px;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.element__like:hover{
  opacity: .6;
}